@import "tailwindcss";

:root {
  --background: #0B0E11;
  --foreground: #ededed;
  --color-primary: #0B0E11;
  --color-gains: #00ff41;
  --color-losses: #ff3131;
  --color-info: #007BFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-gains: var(--color-gains);
  --color-losses: var(--color-losses);
  --color-info: var(--color-info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
